/* General */

body {
    padding: 2%;
    background-color: black !important;
}
header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
    background-color: black;
}

#links {
    color: rgba(255, 94, 94, 0.582) !important;
    text-decoration: none;
}

/* D3 */

.node circle {
    fill: #ea4335;
    stroke: #fbbc05;
    stroke-width: 2px;
}

.node text {
    font: 14px sans-serif;
    /* stroke: rgb(2, 6, 245); */
}

.link {
    fill: none;
    stroke: #34a853;
    stroke-width: 0.8px;
}

/* Google Colors */

.theblue {
    color: #4285f4;
}

.thered {
    color: #ea4335;
}

.theyellow {
    color: #fbbc05;
}

.thegreen {
    color: #34a853;
}