
body {
    padding: 1%;
    background-color: black !important;
}

.node circle {
    fill:#5bc0de;
    stroke:#5bc0de;
    stroke-width: 2px;
}

.node text {
    font: 12px sans-serif;
    /* stroke: rgb(2, 6, 245); */
}

.link {
    fill: none;
    stroke:#5bc0de;
    stroke-width: 1px;
}
